body{
    margin-bottom: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(231, 239, 255);
    font-family: 'Roboto Mono', monospace;
}
.navigation{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    margin-left: 20px;
    margin-top: 50px;
}
.footer a{
    text-decoration: none;
    color: rgb(33, 33, 33);
    padding-left: 5px;
    padding-right: 5px;
}
.footer a:hover{
    text-decoration: underline;
}
.title{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(33, 33, 33);
}
.navlinks{
    display: flex;
    list-style: none;
    margin-right: 20px;
}
.navlinks .active a{
    color: rgba(33, 33, 33, 1);
}
.navitems{
    padding-left: 20px;
    padding-right: 20px;
    
}
.navlinks a{
    text-decoration: none;
    color: rgba(33, 33, 33, 0.5);
    transition: all ease 0.25s;
}
.navlinks a:hover{
    color: rgba(33, 33, 33, 1);
    transition: all ease 0.25s;
}
.about{
    margin-left: 20px;
    margin-top: 100px;
}
.about p{
    font-size:30px;
    line-height: 50px;
}
.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-size: 40px;
    font-weight: 900;
}
.project{
    width: 380px;
    height: 380px;
    margin: 5px;
    position: relative;
}
.project p{
    position: absolute;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    font-size: 40px;
    opacity:0;
    transition: ease opacity 0.25s;
    color: rgb(26, 26, 26) ;
}
.project:hover p{
    opacity:1;
    transition: ease opacity 0.25s;
}
.project:hover img{
    opacity:0.2;
    transition: ease opacity 0.25s;
}
.project img{
    width: 100%;
    position: absolute;
    top: 15%;
    transition: ease opacity 0.25s;
}
a {
    text-decoration: none;
}
.experience {
    margin-left: 20px;
}
.experience p{
    margin-top: 50px;
}
.poetry{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
}
hr{
    
    margin-top: 50px;
    margin-bottom: 50px;
}
.projectcontent{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
 
}
.projectcontent h1{
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.projectcontent img{
    display: block;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.projectcontent video{
    display:block;
    max-width:100%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
}
.projectcontent h2{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 90%;
}
.projectcontent i{
    margin-top: 50px;
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.projectcontent p{
    width: 90%;
    line-height: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}